@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Proyecto Web II</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Usuarios</h2>
        <p>
            El usuario administrador puede administrar los usuarios. Crear, Ver, Editar y Eliminar.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Clientes</h2>
        <p>Se refiere a las empresas clientes, todos los usuarios van a tener la capacidad de Administrar cuentas</p>
    </div>
    <div class="col-md-4">
        <h2>Contactos</h2>
        <p>Los contactos son las personas asociadas a un Cliente, todos los usuarios podrán crear contactos a un Cliente</p>
    </div>
</div>